

body {
    background-color: lightgray;
    font-family: 'Russo One', sans-serif !important; 
    font-size: 18px;
}


#input {
    position: relative;
}


form {
    display: inline-block !important; 
    position: absolute;
    right: -900px;
    width:400px;    
        
    }

.gifs {
    width: 200px;
    height:  200px;
}


.img-thumbnail {
    margin: 15px;
    border: solid 5px white;
    /* position: relative */
}

